img {
  width: 500px;
  height: 300px;
  margin: 5px;
  transition: all 1s;
}

img:hover {
  transform: scale(1.1);
}

header[role="banner"] {
  #logo-main {
    display: block;
    margin: 20px auto;
  }
}

#navbar-primary.navbar-default {
  background: transparent;
  border: none;
  .navbar-nav { 
    width: 100%;
    text-align: center;
    > li {
      display: inline-block;
      float: none;
      > a {
        padding-left: 30px;
        padding-right: 30px;
        }
    }
  }
}



.navbar{
    background-color: transparent !important;
}

.navbar .navbar-nav{
    margin : 0 auto;
}

.nav-item:hover {
  transform: scale(1.1);
  background-color: #E70083;

}
video {
  /* override other styles to make responsive */
  width: 100%    !important;
  height: auto   !important;
} 

.logo {
  width: 200px;
  height: auto;
  margin: 5px;
  background-color: transparent;
}
